.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}
.game__title {
  margin-bottom: 20px;
}
.game__board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;
  width: 300px;
  height: 300px;
}
.game__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-right: 1px solid #e86012;
  border-bottom: 1px solid #e86012;
  color: #e86012;
}
.game__cell:nth-child(3n) {
  border-right: none;
}
.game__cell:nth-last-child(-n+3) {
  border-bottom: none;
}
.game__cell:hover {
  background-color: rgba(226, 61, 11, 0.1);
  cursor: pointer;
}
.game__restart {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #e86012;
  cursor: pointer;
  transition: 0.3s background-color;
}
.game__restart:hover {
  background-color: #973d09;
  transition: 0.3s all;
}